@model SouthAlive.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd>
            NZ$ @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.ProductImgUrl)*@
            Product Image
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ProductImgUrl)" alt="Alternate Text" />
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
